body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family:'Roboto', sans-serif;
    padding: 20px;
    width: auto;
    margin: 0 auto;
}


.banner {
    background-image: url(https://images.unsplash.com/photo-1645217925673-b36ba69814ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    color: white;
    padding: 120px 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  color: rgba(175, 105, 175, 0.877)
}

div {
    display: block;
}

div .banner {
  color:#494949
}
.container {
    width: 700px;
    margin: 50px auto;
}

.banner .container p{
  line-height: 2;
}
a {
  text-decoration: none;
}

.link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
}

.link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(148, 247, 182, 1), rgb(148, 247, 182));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
}

@media (max-width: 1200px) {
  /* For a screen < 992px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  /* For a screen < 992px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 768px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  /* For a screen < 576px, this CSS will be read */
  .container {
    width: 300px;
  }
}
